.intro {
  padding: 40px;

  color: #30acc1;
  background: #21717E;
}

.intro .logo{
  width: 130px;
}

.intro h1{
  margin: 0;

  font-family: 'Anton', sans-serif;
  font-size: 140px;
  line-height: 1;
  text-transform: uppercase;
}

.intro h1 span{
  display: block;
}

.sub-intro{
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-title{
    margin: 0;
    text-transform: uppercase;
    text-align: center;

    &::after{
      content: "";
      display: block;
      width: 120%;
      height: 10px;
      margin-left: -10%;
      background-color: var(--color-text-primary);
    }
  }
}