.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;


  background: #8F2A09;
}

.message h2{
  font-family: 'Sansita Swashed', cursive;
  color: #f3bea5;
  text-align: center;


  font-size: 40px;
}
