//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

:root{
  // Couleur de base

  --color-white: #fff;
  --color-black:    #000;

  // Couleurs du projet

  --color-text-primary:   #333;
  --color-text-secondary: #30acc1;
  --color-text-tertiary: #f3bea5;

  --color-link: #333;
  --color-link-visited: #333;
  --color-link-hover: #30acc1;
  --color-link-active: #30acc1;
  --color-link-focus: #30acc1;

  --color-bg-primary: #fff;
  --color-bg-secondary: #21717E;
  --color-bg-tertiary: #8F2A09;
  --color-bg-quaternary: #E3AF47;

}







