//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE




h1{
  font-family: var(--ff-title-primary);
  font-size: var(--fz-h1);
}

h2{
  font-family: var(--ff-title-secondary);
  font-size: var(--fz-h2);
}

h3{
  font-size: var(--fz-h3);
}


